# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Django / Database
db.sqlite3
*.log

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db